<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/formular.css}">
    </head>
    <body>
        <h1>Bitte berichten Sie von ihrer Sichtung</h1>
        <form th:action="@{/sichtung/meine/neu}" th:method="POST" th:object="${meinesichtungform}">
            <label for="name">Benutzer</label>
            <input type="text" id="name" th:field="*{name}" th:errorclass="formError"/><br>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name falsch</span><br>
            <label for="ort">Ort</label>
            <input type="text" id="ort" th:field="*{ort}" th:errorclass="formError"/><br>
            <span th:if="${#fields.hasErrors('ort')}" th:errors="*{ort}">Ort falsch</span><br>
            <label for="beschreibung">Beschreibung</label>
            <input type="text" id="beschreibung" th:field="*{beschreibung}" th:errorclass="formError"/><br>
            <span th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}">Beschreibung falsch</span><br>
            <label for="datum">Sichtung am</label>
            <input type="date" id="datum" th:field="*{datum}" th:errorclass="formError"/><br>
            <span th:if="${#fields.hasErrors('datum')}" th:errors="*{datum}">Datum falsch</span><br>
            <button name="okButton">OK</button>
        </form>
    </body>
</html>