<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/css/liste.css}">
    </head>
    <body>
        <h1></h1>
        <div>
            <span><a th:href="@{?sprache=de}">Deutsch</a></span>
            <span><a th:href="@{?sprache=en}">English</a></span>
        </div>
        <table>
            <tr>
               <th th:text="#{headerdatum}">Datum</th> 
               <th th:text="#{headername}">Name</th> 
               <th th:text="#{headerort}">Ort</th> 
               <th th:text="#{headerbeschreibung}">Beschreibung</th> 
            </tr>
            <tr th:each="element,status : ${meinesichtungen}">
                <td th:text="${element.datum}"></td>
                <td th:text="${element.name}"></td>
                <td th:text="${element.ort}"></td>
                <td th:text="${element.beschreibung}"></td>
                <td>
                    <a th:href="@{/sichtung/meine/}+${status.index}">[edit]</a>
                    <a th:href="@{/sichtung/meine/} + ${status.index} +@{/del}">[del]</a>
                </td>
            </tr>
        </table><br>
        <a th:href="@{/sichtung/meine/neu}">Neue Sichung erfassen</a>
    </body>
</html>